
<ul class="breadcrumb">
  <li>
    <a href="/">Available Metrics</a> <span class="divider">/</span>
  </li>
  <li class="active"><%= params[:target].join(', ') %></li>
</ul>

<div class="row-fluid">
  <div class="span12">
    <div style="margin-bottom:2em" class="row-fluid">
      <div id="graph-container-minute" class="span6"></div>
      <div id="graph-container-hour" class="span6"></div>
    </div>
    <div class="row-fluid">
      <div id="graph-container-day" class="span6"></div>
      <div id="graph-container-week" class="span6"></div>
    </div>
  </div>
</div>

<script>

  $(function() {
    $("#graph-container-minute").load("/graph?target[]=<%= params[:target].first %>&time=minute");
    $("#graph-container-hour").load("/graph?target[]=<%= params[:target].first %>&time=hour");
    $("#graph-container-day").load("/graph?target[]=<%= params[:target].first %>&time=day");
    $("#graph-container-week").load("/graph?target[]=<%= params[:target].first %>&time=week");
  });

</script>
